$fondo_secciones: #5F5F5F;
$texto_blanco: white;
$estilos:( 
    color:#0D7FBB,
    centro: center,
);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

.fondoSecciones {
    background-color: #5F5F5F;
}

.colorDoble {
    color: #0D7FBB;
}

@mixin titulo {
    color: $color;
    text-align: center;
    text-decoration: underline #0D7FBB 4px;
    margin-top: 30px;
    margin-bottom: 40px;
}

@import "header";
@import "footer";
@import "home";
@import "aboutme";
@import "services";
@import "contact";
@import "projects";
@import "responsive";