$fondo_secciones: #5F5F5F;
$azul_base: #0D7FBB;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

.fondoSecciones {
    background-color: #5F5F5F;
}

.colorDoble {
    color: #0D7FBB;
}

@import "header";
@import "footer";
@import "home";
@import "aboutme";
@import "services";
@import "contact";
@import "projects";
@import "responsive";